@model ASP_project.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room_Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room_Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rent_Per_Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rent_Per_Day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rent_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rent_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room_Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room_Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Room_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
